.container {
    display: grid;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    gap: 10px;
    /* column-gap: 10px; */
    /* row-gap: 10px; */
}

.item {
    background-color: rgb(17, 128, 180);
    border: 1px solid rgb(179, 7, 7);
    padding: 10px;
}